 <!DOCTYPE html>
<html lang="en">
<head>
  <title>To-Do list</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
        height: 110%;
        justify-content: center;
        align-items: center;
        }
        .form-popup {
          display: none;
          position: fixed;
          bottom: 100;
          z-index: 100;
        }
        .form-container input[type=text], .form-container input[type=password] {
          width: 100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          border: none;
          background: #f1f1f1;
        }

    </style>
    <script>
        function valid(){
        if (document.form.element.value == ""){
        alert("Input cannot be empty!!");
        return false;
        }
        }
        function openForm(){
        document.getElementById("myForm").style.display = "block";
        }
        function closeForm() {
        document.getElementById("myForm").style.display = "none";
            }
    </script>
</head>
<body style="background-color : cyan;">
<div class="container">
<form action = 'to_do' name="form" method="POST" onsubmit="return valid()">
    {% csrf_token %}
    <div class="form-group">
      <div class="col-xs-3">
        <input class="form-control" id="focusedInput" type="text" name = "element" placeholder="Enter your new task here">
      </div>
    </div>
    <div class="btn-group btn-group">
        <button type="submit" class="btn btn-success">Click to add</button>
    </div>
</form>
    <div class="container">
<ul>
    {% for i in cont %}
    <h3>
    <li>
        <i>{{ i.desc }}</i>
        &nbsp;&nbsp;&nbsp;
    <form action = "edit/{{i.id}}" method="POST" style="display : inline;">
        {% csrf_token %}
        <div class="form-group">
      <div class="col-xs-3">
        <input type="text" name = "element1" class="form-control" id="focusedInput" placeholder="You can update above task here..">
      </div>
        </div>
        <div class="btn-group btn-group">
            <button type="submit" title="By clicking here, task will get updated!" class="btn btn-primary">Update</button>
        </div>
    </form>
        ,
    <form action = "delete/{{i.id}}" method="POST" style="display : inline;">
        {% csrf_token %}
        <div class="btn-group btn-group">
            <button type="submit" class="btn btn-danger" title="This task will get deleted!">Delete</button>
        </div>
    </form>
    </li>
    </h3>
    {% endfor %}
</ul>
        </div>
    <div>
        {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <h2>{{ message }}</h2>
    {% endfor %}
    </ul>
        {% endif %}
    </div>
</div>
</body>
</html>
